:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.e-main-container {
  overflow: hidden;
}

.e-main-container,
.e-main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.e-main-container {
  position: relative;
  width: 1920px;
  height: 1310px;
  margin: 0 auto;
  background: #131126;
  overflow: hidden;
}
.e-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: relative;
  width: 236px;
  height: 29px;
  margin: -229px 0 0 228px;
  padding: 4px 6px 4px 6px;
  background: rgba(250, 248, 248, 0.5);
  z-index: 5;
  border-radius: 8px;
}
.e-search-1 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 6;
}
.e-vector {
  position: relative;
  width: 13.024px;
  height: 13.025px;
  margin: 1.475px 0 0 1.475px;
  background: url(../assets/images/ab6266a4-b023-4f59-be63-2bca037cf3b2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
.e-search-2 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #f5f0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.e-flex-row-de {
  position: absolute;
  width: 101.56%;
  height: 161.15%;
  top: -13.21%;
  left: -0.73%;
  z-index: 12;
}
.e-ellipse {
  position: absolute;
  width: 538px;
  height: 308px;
  top: 0;
  left: 450px;
  background: url(../assets/images/7b04804b-6fcd-4fc6-87c2-08608e1883d6.png)
    no-repeat center;
  background-size: cover;
  filter: blur(197px);
}
.e-ellipse-3 {
  position: absolute;
  width: 538px;
  height: 308px;
  top: 0;
  left: 483px;
  background: url(../assets/images/4932da42-d361-481d-b639-fb28f8f79890.png)
    no-repeat center;
  background-size: cover;
  filter: blur(567px);
  z-index: 1;
}
.e-ellipse-4 {
  position: absolute;
  width: 538px;
  height: 308px;
  top: 57px;
  left: 1354px;
  background: url(../assets/images/89c1435e-2d1e-4c69-b456-c24cb212957d.png)
    no-repeat center;
  background-size: cover;
  filter: blur(197px);
  z-index: 2;
}
.e-rectangle {
  position: absolute;
  width: 1373px;
  height: 1938px;
  top: 173px;
  left: 577px;
  font-size: 0px;
  background: #ffffff;
  z-index: 3;
}
.e-mobile-number {
  display: block;
  position: relative;
  height: 20px;
  margin: 394px 0 0 368px;
  color: #384d6c;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.504px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.e-name-field {
  position: relative;
  width: 460px;
  height: 52px;
  margin: 16px 0 0 370px;
  background: url(../assets/images/49032a62-d620-4fa9-b300-b420ddd3742c.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.e-reaching-out-soon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 270px;
  height: 48px;
  margin: 195px 0 0 465px;
  color: #384d6c;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: center;
  z-index: 14;
}
.e-immediate-assistance {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 965px;
  height: 96px;
  top: 96px;
  left: 182px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  line-height: 80.64px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.e-medical-support {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 918px;
  height: 81px;
  top: 177px;
  left: 205px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  line-height: 80.64px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
}
.e-name-field-5 {
  position: absolute;
  width: 289px;
  height: 52px;
  top: 506px;
  left: 541px;
  background: no-repeat center;
  background-size: cover;
  z-index: 17;
  overflow: hidden;
}
.e-vector-6 {
  position: relative;
  width: 41px;
  height: 44px;
  top :-10px;
  cursor: pointer;
  margin: 10px 0 0 8px;
  background: url(../assets/images/98805ff9-182f-4bb0-8e21-845bfc2bc791.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 61;
}
.e-add-location {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 516px;
  left: 372px;
  color: #384d6c;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.504px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.e-rectangle-7 {
  position: absolute;
  width: 14.69%;
  height: 2.79%;
  top: 30.55%;
  cursor: pointer;
  left: 36.38%;
  cursor: pointer;
  background: #6069c7;
  border: none;
  z-index: 89;
  border-radius: 100px;
}
.e-add-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 213px;
  height: 2.43%;
  top: 31.27%;
  left: 35.98%;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 28.125px;
  text-align: center;
  letter-spacing: 1.44px;
  z-index: 90;
}
.e-welcome-cookie-watch {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 22.31%;
  height: 4.55%;
  top: 20.42%;
  left: 3.64%;
  color: #ffffff;
  font-family: Overpass, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  line-height: 81.024px;
  text-align: center;
  white-space: nowrap;
  z-index: 11;
}
.e-image {
  position: absolute;
  width: 46.15%;
  height: 31.98%;
  top: 30.93%;
  left: 0;
  background: url(../assets/images/6bb7a6672ccb73129bcbd10f9a4d607c39e1b3be.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.5;
  z-index: 12;
}
