:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.b-main-container {
  overflow: hidden;
}

.b-main-container,
.b-main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.b-main-container {
  position: relative;
  width: 1920px;
  height: 1310px;
  margin: 0 auto;
  background: #131126;
  overflow: hidden;
}
.b-search {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  position: relative;
  width: 236px;
  height: 29px;
  margin: -229px 0 0 228px;
  padding: 4px 6px 4px 6px;
  background: rgba(250, 248, 248, 0.5);
  z-index: 4;
  border-radius: 8px;
}
.b-search-1 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 5;
}
.b-vector {
  position: relative;
  width: 13.024px;
  height: 13.025px;
  margin: 1.475px 0 0 1.475px;
  background: url(../assets/images/0952581a-057e-4110-9122-3d474ad790b0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.b-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #f5f0f0;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.b-flex-row-de {
  position: absolute;
  width: 104.79%;
  height: 161.15%;
  top: -13.21%;
  left: -3.96%;
  z-index: 11;
}
.b-ellipse {
  position: absolute;
  width: 538px;
  height: 308px;
  top: 0;
  left: 512px;
  background: url(../assets/images/58f305ee-8450-4099-9e4a-e22819131898.png)
    no-repeat center;
  background-size: cover;
  filter: blur(197px);
}
.b-ellipse-2 {
  position: absolute;
  width: 538px;
  height: 308px;
  top: 0;
  left: 545px;
  background: url(../assets/images/b9c38cc3-7c88-46fc-9391-0032dbd6d937.png)
    no-repeat center;
  background-size: cover;
  filter: blur(567px);
  z-index: 1;
}
.b-ellipse-3 {
  position: absolute;
  width: 538px;
  height: 308px;
  top: 57px;
  left: 1416px;
  background: url(../assets/images/7b9b5603-fde3-4089-a202-962f630f14b0.png)
    no-repeat center;
  background-size: cover;
  filter: blur(197px);
  z-index: 2;
}
.b-rectangle {
  position: absolute;
  width: 1373px;
  height: 1938px;
  top: 173px;
  left: 639px;
  font-size: 0px;
  background: #ffffff;
  z-index: 3;
}
.b-sign-in {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 435px;
  height: 96px;
  margin: 273px 0 0 368px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  line-height: 80.64px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}
.b-nic-email {
  display: block;
  position: relative;
  height: 20px;
  margin: 25px 0 0 368px;
  color: #384d6c;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.504px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.b-name-field {
  position: relative;
  width: 460px;
  font-size: 20px;
  height: 52px;
  margin: 16px 0 0 370px;
  background: url(../assets/images/e42f053c-615b-42b4-8bda-00efd880f4ad.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.b-email-field {
  position: absolute;
  width: 460px;
  height: 52px;
  top: 0;
  left: 0;
  font-size: 20px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  z-index: 34;
  overflow: hidden;
  border-radius: 8px;
}
.b-pw-field {
  position: absolute;
  width: 460px;
  height: 52px;
  top: 550px;
  font-size: 20px;
  left: 370px;
  font: 24px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  z-index: 34;
  overflow: hidden;
  border-radius: 8px;
}
.b-password {
  display: block;
  position: relative;
  height: 20px;
  margin: 34px 0 0 372px;
  color: #384d6c;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.504px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.b-name-field-4 {
  position: relative;
  width: 460px;
  height: 52px;
  margin: 16px 0 0 374px;
  background: url(../assets/images/1f66ab2c-85f6-429c-9fbe-9a4ee9b2f693.png)
    no-repeat center;
  background-size: cover;
  z-index: 89;
}
.b-forgot-password {
  top:70px;
  display: block;
  position: relative;
  height: 25px;
  margin: 16px 0 0 374px;
  color: #6265a3;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.b-account-registration {
  display: block;
  position: relative;
  top:50px;
  left: 20px;
  height: 25px;
  margin: 108px 0 0 499px;
  color: #959191;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.b-sign-up {
  display: block;
  position: relative;
  height: 25px;
  top:60px;
  margin: 0 0 0 595px;
  color: #474baa;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.b-rectangle-5 {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 34.52%;
  left: 38.49%;
  cursor: pointer;
  background: #6069c7;
  border: none;
  z-index: 20;
  border-radius: 100px;
}
.b-add-button-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 213px;
  height: 2.43%;
  top: 35.24%;
  left: 0px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 28.125px;
  text-align: center;
  letter-spacing: 1.44px;
  z-index: 21;
}
.b-welcome-to-cookiewatch {
  position: absolute;
  width: 405px;
  height: 4.55%;
  top: 17.34%;
  left: 3.53%;
  font-family: Overpass, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  line-height: 81.024px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 10;
}
.b-welcome-to-cookie {
  position: absolute;
  color: #ffffff;
  left: 25px;
  font-family: Overpass, var(--default-font-family);
  font-size: 55px;
  font-weight: 800;
  width: 90px;
  line-height: 81.024px;
  text-align: center;
}
.b-watch {
  position: relative;
  color: #6069c7;
  font-family: Overpass, var(--default-font-family);
  font-size: 64px;
  font-weight: 800;
  width: 100px;
  left : 80px;
  line-height: 81.024px;
  top : 70px;
  text-align: center;
}
.b-image {
  position: absolute;
  width: 44.73%;
  height: 31.98%;
  top: 27.85%;
  left: 0;
  background: url(../assets/images/6bb7a6672ccb73129bcbd10f9a4d607c39e1b3be.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.5;
  z-index: 11;
}
